{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}" />
  <title>Django Delights - Signup</title>
</head>
<body>
  <div class="content-wrapper">
    <h1 class="account-h">Create an account</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button class="button button--full-width" type="submit">Signup</button>
    </form>
  </div>
</body>
</html>